<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="fastly_adjust_cache_tags" type="Fastly\Cdn\Model\ResponsePlugin" sortOrder="100"/>
    </type>
</config>
